<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ManagerControl</servlet-name>
        <servlet-class>Controller.ManagerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOrderControl</servlet-name>
        <servlet-class>Controller.ShowOrderControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductControl</servlet-name>
        <servlet-class>Controller.ProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>Controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>Controller.ProductDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowOrderControl</servlet-name>
        <url-pattern>/showoerder/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>Controller.UpdateProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/listProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerControl</servlet-name>
        <url-pattern>/manager/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductControl</servlet-name>
        <url-pattern>/ProductControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/ProductDetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
